<div class="game-header" id="game-stats">
  <section class="stats player-stats">
    <span class="header-name" id="player-name"></span>
    <div class="progress-bar-empty">
      <div class="progress-bar" id="player-hp" data-hp="100"></div>
    </div>
  </section>
  <section class="round-info">
    <span class="game-round">Round <span class="game-round-num" id="round-number"></span></span>
  </section>
  <section class="stats bot-stats">
    <span class="header-name" id="bot-name"></span>
    <div class="progress-bar-empty">
      <div class="progress-bar right" id="bot-hp" data-hp="100"></div>
    </div>
  </section>
</div>
