<form class="math-task-cont" id="math-task-form" action="" method="post" onsubmit="return false">
  <p class="form-title">If you want to cast spell, try solve this task:</p>
  <label for="math-task-answer" id="math-task-text"></label>
  <input class="form-field math-task-answer-field" id="math-task-answer" type="number" name="" value="" placeholder="?" required>
  <input class="submit-btn" type="submit" name="" value="Submit Answer">
  <div class="task-massage">
    <span class="correct-massage">correct answer!</span>
    <span class="wrong-massage">wrong answer!</span>
    <audio id="correct-sound" src="./correct.mp3" preload="auto"></audio>
    <audio id="incorrect-sound" src="./incorrect.mp3" preload="auto"></audio>
  </div>
</form>
